<app-navbar></app-navbar>


<div class="p-grid">
  <div class="p-col-4"></div>
  <div class="p-col-4">

    <h1>Bem vindo a Central Smart Market!</h1>
    <p>Aqui você consegue consultar:</p>

    <p><i class="pi pi-check"></i>Quantidade de compras realizados por mês</p>

    <p><i class="pi pi-check"></i>Quantidade de produtos comprados por categoria</p>

    <p><i class="pi pi-check"></i>Estoque dos produtos/itens do mercado</p>

  </div>
  <div class="p-col-4"></div>
  <div class="p-col-4"></div>
  <div class="p-col-4"><img class="img-logo" src="assets/smss.png"></div>
  <div class="p-col-4"></div>

</div>


<app-footer></app-footer>
